.App-body {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .frontpage {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .introbuttons {
    /* align-items: ; */
    min-width: 90%;
  }
  .headerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 1em;
  }
}
@media only screen and (min-width: 600px) {
  .frontpage {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .introbuttons {
    width: 40%;
  }
  .headerbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em 1em;
  }
}
.title {
  font-size: 3em;
}

.introbuttons__row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.frontbutton {
  border-style: solid;
  border-color: #282c34;
  border-radius: 10px;
  font-size: 1.3em;
  height: 3em;
  width: 100%;
  margin: 5px 0px;
}
.frontbutton--red {
  background-color: maroon;
  color: white;
}
.frontbutton--green {
  background-color: darkgreen;
  color: white;
}
.frontbutton:hover {
  opacity: 80%;
  border-width: 1px;
}

.nameinput {
  border-style: solid;
  border-color: #282c34;
  border-radius: 10px;
  font-size: 1em;
  height: 3em;
  width: 100%;
  box-sizing: border-box;
}
.userroles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.select-player-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 2px;
}
.usercard {
  width: 100%;
  height: 3em;
  margin: 2px;
  font-size: 1.1em;
  border-radius: 10px;
  border-style: none;
  opacity: 80%;
}
.select-player {
  border-radius: 10px;
}
.usercard--red {
  color: lightsalmon;
  background-color: #c41e3a;
}
.usercard--blue {
  color: cyan;
  background-color: #6699cc;
}
.usercard--green {
  background-color: #90ee90;
}
.selected {
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 0.2em;
  opacity: 100%;
}
/* Join Game Board */
.playertitle {
  text-transform: capitalize;
  font-size: 1.1em;
  margin: 0 0.2em;
}
.playertitle-red {
  color: lightsalmon;
}
.playertitle-blue {
  color: cyan;
}
.playertitle-green {
  color: white;
}
.playername {
  color: white;
  margin: 0 0.4em;
}

.shareButton {
  margin-left: 0.5em;
}

.shareButton:hover {
  opacity: 70%;
  cursor: pointer;
}
.clipboardnotice {
  opacity: 50%;
}
@media only screen and (max-width: 700px) {
  .gamescreen {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 700px) {
  .gamescreen {
    display: flex;
    flex-direction: row;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  flex-grow: 12;
}

.turnstable {
  max-height: 50%;
}

.codex-guide {
  margin: 10px;
  min-width: min-content;
}
.codex-guide__row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.codex-guide__cell-start {
  height: 1.2em;
  width: 30%;
  margin: 2px;
  text-align: end;
}
.codex-guide__cell {
  height: 1.2em;
  width: 2%;
  margin: 2px;
  border-radius: 3px;
  text-align: center;
}
.codex-guide__cell--middle {
  height: 10px;
  margin: 0 2px;
}
.codex-guide__cell--green {
  background-color: #90ee90;
}
.codex-guide__cell--cream {
  background-color: rgb(245, 232, 160);
}
.codex-guide__cell--black {
  background-color: hsla(240, 8%, 3%, 0.781);
}
@media only screen and (max-width: 700px) {
  .players-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .players {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}
@media only screen and (min-width: 700px) {
  .players-box {
    flex-basis: 15%;
    flex-grow: 1;
    margin: 1%;
  }
  .players {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.players-red {
  background-color: #c41e3a;
}
.players-blue {
  background-color: #6699cc;
}
.players-green {
  background-color: darkgreen;
}
.playercard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5em;
}
.playercard-turn {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(189, 156, 113);
  border-width: 0.5em;
}
.playerdetails {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.playerdetails-plain {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.resetgamebutton {
  background-color: #90ee90;
  border-radius: 5px;
  flex-grow: 1;
  text-align: center;
}
.resetgamebutton:hover {
  cursor: pointer;
}
.resetresponses {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}
.exitbutton {
  margin: 10px;
  min-width: 13%;
  max-width: 13%;
  height: 100%;
}
.exitbutton:hover {
  opacity: 70%;
  cursor: pointer;
}
.leavegamebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  height: 100%;
  min-width: 39%;
  max-width: 39%;
}
.confirmexitbutton {
  width: 34%;
  height: 100%;
}
.leavegamemsg {
  color: white;
  width: 66%;
  height: 100%;
}
.confirmexitbutton:hover {
  opacity: 70%;
  cursor: pointer;
}

.waitbox {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
}
.winbox {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
.winbox-red {
  color: #c41e3a;
}
.winbox-blue {
  color: #6699cc;
}
.cluecounter {
  color: aliceblue;
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 2px;
}
.endturnbox {
  margin-left: 50px;
}
.lastcluebox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.clueInput {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}
.clueInputBox {
  font-size: 1.1em;
  border-radius: 5px;
  margin-top: 4px;
}
.clueInputSpacer {
  font-size: 1.1em;
}
.clueCountDD {
  font-size: 1.1em;
  height: 2.2em;
}
.clueInputSubmit {
  font-size: 0.9em;
  height: 2.2em;
  margin-left: 5px;
}

.wordsrow {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */
  /* padding: 5px; */
  margin: 2px;
}
.wordcard {
  display: inline-block;
  font-size: 1em;
  border-radius: 10px;
  justify-content: center;
  height: 3em;
  width: 100%;
  margin: 2px;
  border-style: none;
}
.wordcard--split {
  display: flex;
  flex-direction: row;
  align-content: center;
  border-radius: 10px;
  font-size: 1em;
  justify-content: center;
  height: 3em;
  width: 100%;
  margin: 2px;
  padding: 0px;
  border-style: none;
}
.wordcard__half {
  display: block;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 0px;
  border-style: none;
}
.wordcard__half--left {
  border-radius: 10px 0px 0px 10px;
}
.wordcard__half--right {
  border-radius: 0px 10px 10px 0px;
}
.wordcard--split__word {
  position: absolute;
  /* temporary */
  margin-top: 12px;
  font-size: 1em;
}

.wordcard--red {
  background-color: #c41e3a;
  color: white;
}
.wordcard--light-red {
  background-color: #e65c73;
  color: black;
}
.wordcard--blue {
  background-color: #6699cc;
  color: white;
}
.wordcard--light-blue {
  background-color: #b9d7f5;
  color: black;
}
.wordcard--cream {
  background-color: rgb(202, 189, 112);
}
.wordcard--light-cream {
  background-color: rgb(247, 238, 192);
  color: black;
}
.wordcard--green {
  background-color: darkgreen;
  color: aliceblue;
}
.wordcard--light-green {
  background-color: #90ee90;
  color: black;
}
.wordcard--black {
  color: aliceblue;
  background-color: hsla(240, 8%, 3%, 0.781);
}
.wordcard--split__word--whitetext {
  color: aliceblue;
}

.revealed {
  box-shadow: 3px 3px grey;
}
.clickable:hover {
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
  cursor: pointer;
}
.wordcard--end {
  opacity: 60%;
}

.cluecount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 0.5em;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  font-weight: bold;
}
.guess {
  /* border-style: solid; */
  display: flex;
  border-radius: 3px;
  font-size: 1em;
  width: fit-content;
  padding: 0.5em 1em;
  /* margin: 5px; */
}
.guesses {
  display: flex;
  justify-items: start;
  gap: 3px;
}
.guess--last {
  border-color: rgb(212, 212, 212);
  background-color: rgb(228, 227, 227);
}
.guess--red {
  border-color: hsla(5, 81%, 71%, 0.781);
  background-color: hsla(5, 81%, 71%, 0.781);
}
.guess--blue {
  background-color: hsla(209, 81%, 71%, 0.781);
  border-color: hsla(209, 81%, 71%, 0.781);
}
.guess--cream {
  background-color: hsla(51, 80%, 90%, 1);
  border-color: hsla(51, 80%, 90%, 1);
}
.guess--black {
  color: aliceblue;
  background-color: hsla(240, 8%, 3%, 0.781);
  border-color: hsla(240, 8%, 3%, 0.781);
}
.guess--green {
  color: aliceblue;
  background-color: darkgreen;
}
