<nav class="nav">
  <div class="nav__container">
    <div class="nav__container__icon">
      <div class="logoContainer">
        <img class="robinicon" src="/static/media/robin.png" alt="Robin bird icon">
      </div>
      <div class="titleContainer">
        <div>Robin Ramsurrun</div>
      </div>
    </div>
    <div class="nav__container__links">
      <div class="nav__link"><a href="/">About</a></div>

      <div class="nav__link">
        <input type="checkbox" id="projectlist" value="" name="my-checkbox">
        <label for="projectlist">
          Projects
        </label>
        <ul>
          <li><a href="/projects/codenames">Codenames</a></li>
          <!-- <li><a href="/projects/nextproject">Next project</a></li> -->
        </ul>
      </div>
      <!-- <div class="nav__link"><a href="/contact">Contact</a></div> -->
    </div>
  </div>
</nav>