<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>

    <%- include('../partials/header'); %>
      <main class="fullpage">
        <div class="hero">
          <div class="hero__content">
            <h1 class="hero__content__name">Robin Ramsurrun</h1>
            <h2 class="hero__content__desc">I am a software engineer who enjoys building full-stack applications that
              are elegant and flexible.</h2>
          </div>
        </div>
        <div class="page-body">
          <div class="page-body__intro">
            <div class="page-body__intro__robin-card">

              <img class="robin-card__image" src="../../static/media/robin-photo.jpg" height="250px">

              <div class="robin-card__details">
                <span class="robin-card__details__text ">Robin Ramsurrun</span>
                <span class="robin-card__details__text robin-card__details__text-italic">rrramsurrun@gmail.com</span>

                <div class="robin-card__links">
                  <a href="https://uk.linkedin.com/in/robin-rhys-ramsurrun-b1b98329" target="_blank">
                    <img class="robin-card__links__link" src="../../static/icons/linkedin.png">
                  </a><a href="https://github.com/rrramsurrun" target="_blank"><img class="robin-card__links__link"
                      src="../../static/icons/github.png"></a>
                </div>
              </div>

            </div>
            <div class="page-body__intro__robin-desc">
              <span class="robin-desc_bold robin-desc">Hello! I'm Robin, a software engineer based in London who is
                experienced in building integration and insight solutions for technical and non-technical
                audiences.</span>
              <span class="robin-desc">I am currently working as a data analyst at King's College London and am looking
                to make the sideways step to an engineering role.</span>
              <span class="robin-desc">Here you can find personal projects that I am undertaking to learn and hone new
                software skills as I seek out my first role as a software engineer.</span>
            </div>
          </div>
          <div class="page-body__projects">

            <h2>Projects</h2>
            <a href="/projects/codenames">
              <div class="page-body__projects__project">
                <div class="project-image-container">
                  <img class="project-image" src="../../static/media/assassin.jpg">
                </div>
                <div class="project-details-container">
                  <div class="project-name">Codenames</div>
                  <div class="project-published">October 2023</div>
                  <div class="project-description">An online multiplayer game of Codenames; a 4-player competitive game
                    that requires creative word association and foresight.

                  </div>
                </div>
              </div>
            </a>


          </div>
        </div>
        </div>
      </main>
  </body>