<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header'); %>
      <main class="fullpage">
        <div class="hero">
          <div class="hero__content">
            <h1 class="hero__content__name">Codenames</h1>
            <h2 class="hero__content__name-desc">October 2023</h2>
            <h2 class="hero__content__desc">This is an online version of Codenames that can be played by 4 remote
              players</h2>
            <div class="hero__content__links"> <a href="https://github.com/rrramsurrun" target="_blank"><img
                  class="robin-card__links__link" src="../../static/icons/github.png"></a></div>

          </div>
        </div>
        <div class="page-body">
          <div class="page-body__intro">
            <span>Project description and breakdown</span>
          </div>
          <iframe width="420" height="315" src="https://www.youtube.com/embed/J8RWBooJivg">
          </iframe>
        </div>
        </div>
      </main>
  </body>