<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header'); %>

      <div class="page__body">
        <p>This page contains the ways in which I wish to be contacted, including links to linkedin etc.</p>
        <h2>What's my deal?</h2>
        <div class="page__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet, augue
          vitae vestibulum
          commodo,
          dolor nibh dapibus neque, nec pretium augue felis ut massa. Donec eu sem vitae mauris tincidunt fermentum.
          In
          volutpat scelerisque risus ut aliquam. Nulla iaculis, arcu non vehicula malesuada, metus quam dignissim sem,
          sed mattis lacus nunc quis erat. Proin posuere urna quis mattis viverra. Sed commodo ante vehicula sem
          dictum
          porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum enim orci, sed gravida
          lectus laoreet eu.</div>
        <div class="page__content">

          Mauris placerat ultricies felis at feugiat. Ut urna massa, commodo id sem at, convallis consequat nunc.
          Integer auctor dignissim ultrices. Donec id justo arcu. In faucibus ex et fringilla sollicitudin. Sed
          feugiat
          massa vitae neque molestie, in faucibus quam bibendum. Nam pulvinar faucibus dolor, vel cursus diam sodales
          at. Nam quis nunc ac sem pharetra ullamcorper. Nam at nisi vitae magna mollis ullamcorper. Sed ut suscipit
          lorem. Nam luctus dolor quam.</div>
        <div class="page__content">

          Morbi non vestibulum enim. Maecenas sapien dolor, bibendum quis sollicitudin a, laoreet a nisi. Aliquam
          convallis odio et ultricies tempus. Phasellus suscipit elit diam, eu facilisis metus fringilla eget. Sed ut
          est purus. Nullam id gravida risus. Curabitur ac dolor purus. Nulla semper elementum vehicula.
        </div>
        <div class="page__content">
          Fusce quis nisl quam. Suspendisse mattis semper neque ac viverra. Vivamus et felis metus. Morbi quis
          eleifend
          massa, sed tempus leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus.
          Aenean mollis sem vel finibus pellentesque. Praesent consectetur massa in mollis fermentum. Sed suscipit
          justo
          et enim tristique sodales quis a magna. Mauris luctus imperdiet sapien at pretium. Nam eget nunc eu sapien
          suscipit suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Mauris fringilla arcu erat, finibus suscipit massa viverra id. Ut velit eros, tempus non lobortis a, egestas
          nec ex. Donec vel porta sapien. Maecenas urna augue, bibendum eget sollicitudin at, pulvinar ut erat.
          Vivamus
          porttitor sagittis ornare.
        </div>
        <div class="page__content">
          Donec neque augue, volutpat in condimentum vel, interdum sed ipsum. Orci varius natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Aenean sed leo non est cursus dapibus eget sit amet nisi. In
          hac habitasse platea dictumst. Donec congue euismod commodo. Ut tellus massa, sodales at urna in, aliquam
          lobortis dui. Proin eget maximus erat. Mauris in nulla a risus fermentum fermentum a vel leo. Integer augue
          odio, mattis at metus convallis, euismod eleifend nulla. Quisque eu mi felis. Sed eu iaculis nibh, a dictum
          velit. Fusce libero odio, porta eget orci ut, efficitur commodo velit.

        </div>
        <div class="page__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet, augue
          vitae vestibulum
          commodo,
          dolor nibh dapibus neque, nec pretium augue felis ut massa. Donec eu sem vitae mauris tincidunt fermentum.
          In
          volutpat scelerisque risus ut aliquam. Nulla iaculis, arcu non vehicula malesuada, metus quam dignissim sem,
          sed mattis lacus nunc quis erat. Proin posuere urna quis mattis viverra. Sed commodo ante vehicula sem
          dictum
          porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum enim orci, sed gravida
          lectus laoreet eu.</div>
        <div class="page__content">

          Mauris placerat ultricies felis at feugiat. Ut urna massa, commodo id sem at, convallis consequat nunc.
          Integer auctor dignissim ultrices. Donec id justo arcu. In faucibus ex et fringilla sollicitudin. Sed
          feugiat
          massa vitae neque molestie, in faucibus quam bibendum. Nam pulvinar faucibus dolor, vel cursus diam sodales
          at. Nam quis nunc ac sem pharetra ullamcorper. Nam at nisi vitae magna mollis ullamcorper. Sed ut suscipit
          lorem. Nam luctus dolor quam.</div>
        <div class="page__content">

          Morbi non vestibulum enim. Maecenas sapien dolor, bibendum quis sollicitudin a, laoreet a nisi. Aliquam
          convallis odio et ultricies tempus. Phasellus suscipit elit diam, eu facilisis metus fringilla eget. Sed ut
          est purus. Nullam id gravida risus. Curabitur ac dolor purus. Nulla semper elementum vehicula.
        </div>
        <div class="page__content">
          Fusce quis nisl quam. Suspendisse mattis semper neque ac viverra. Vivamus et felis metus. Morbi quis
          eleifend
          massa, sed tempus leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus.
          Aenean mollis sem vel finibus pellentesque. Praesent consectetur massa in mollis fermentum. Sed suscipit
          justo
          et enim tristique sodales quis a magna. Mauris luctus imperdiet sapien at pretium. Nam eget nunc eu sapien
          suscipit suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Mauris fringilla arcu erat, finibus suscipit massa viverra id. Ut velit eros, tempus non lobortis a, egestas
          nec ex. Donec vel porta sapien. Maecenas urna augue, bibendum eget sollicitudin at, pulvinar ut erat.
          Vivamus
          porttitor sagittis ornare.
        </div>
        <div class="page__content">
          Donec neque augue, volutpat in condimentum vel, interdum sed ipsum. Orci varius natoque penatibus et magnis
          dis parturient montes, nascetur ridiculus mus. Aenean sed leo non est cursus dapibus eget sit amet nisi. In
          hac habitasse platea dictumst. Donec congue euismod commodo. Ut tellus massa, sodales at urna in, aliquam
          lobortis dui. Proin eget maximus erat. Mauris in nulla a risus fermentum fermentum a vel leo. Integer augue
          odio, mattis at metus convallis, euismod eleifend nulla. Quisque eu mi felis. Sed eu iaculis nibh, a dictum
          velit. Fusce libero odio, porta eget orci ut, efficitur commodo velit.

        </div>
      </div>
  </body>